#include "resource.h"
#include "version.h"
#include "winresrc.h"

/////////////////////////////////////////////////////////////////////////////
//
// Manifest
//

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "../res/windows/openxcom.manifest"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

 VS_VERSION_INFO VERSIONINFO
 FILEVERSION OPENXCOM_VERSION_NUMBER
 PRODUCTVERSION OPENXCOM_VERSION_NUMBER
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "OpenXcom Developers"
            VALUE "FileDescription", "OpenXcom Extended"
            VALUE "FileVersion", OPENXCOM_VERSION_LONG
            VALUE "InternalName", "OpenXcomEx.exe"
            VALUE "LegalCopyright", "Copyright 2010-2019 OpenXcom Developers"
            VALUE "OriginalFilename", "OpenXcomEx.exe"
            VALUE "ProductName", "OpenXcom Extended"
            VALUE "ProductVersion", OPENXCOM_VERSION_LONG
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON                    "../res/windows/openxcomex.ico"

#ifdef EMBED_ASSETS

IDZ_COMMON_ZIP           RCDATA                  "../common.zip"
IDZ_STANDARD_ZIP         RCDATA                  "../standard.zip"

#endif
